<div class="shop-method-area">
  <div class="container">
    <div class="method-wrapper">
      <div class="row d-flex justify-content-between">
        <app-single-shop-method
          [ngClass]="'col-xl-4 col-lg-4 col-md-6'"
          method="Free Shipping Method"
          textMethod="njoy hassle-free shopping with our free shipping options. Shop now and get your favorite products delivered to your doorstep!"
        ></app-single-shop-method>
        <app-single-shop-method
          [ngClass]="'col-xl-4 col-lg-4 col-md-6'"
          method="Secure Payment System"
          textMethod="Shop with confidence knowing that your payments are secure and protected. We use the latest encryption technology to keep your personal information safe."
        ></app-single-shop-method>
        <app-single-shop-method
          [ngClass]="'col-xl-4 col-lg-4 col-md-6'"
          method="Extended Warranty"
          textMethod="Choose the extended warranty plan that suits your needs and safeguard your investments for the long haul."
        ></app-single-shop-method>
      </div>
    </div>
  </div>
</div>
