<app-banner bannerText="About us"></app-banner>
<div class="about-details section-padding30">
  <div class="container">
    <div class="row">
      <div class="offset-xl-1 col-lg-8">
        <app-passus
          Heading="Our Mission"
          content="At our company, our mission is to empower individuals and businesses to achieve their full potential through innovative solutions and unparalleled support. We are dedicated to fostering growth, creating opportunities, and making a positive impact in the communities we serve."
        ></app-passus>

        <app-passus
          Heading="Our Vision"
          content="Our vision is to become a global leader in delivering innovative solutions that empower individuals and organizations to thrive in a rapidly changing world. We aspire to create a brighter future by fostering creativity, embracing diversity, and driving sustainable growth."
        ></app-passus>
      </div>
    </div>
  </div>
</div>
<app-cta></app-cta>
<div class="pt-100">
  <app-shop-method></app-shop-method>
</div>
