<app-banner bannerText="About us"></app-banner>
<div class="about-details section-padding30">
  <div class="container">
    <div class="row">
      <div class="offset-xl-1 col-lg-8">
        <app-passus
          Heading="Our Mission"
          content="Consectetur adipiscing elit, sued do eiusmod tempor ididunt udfgt labore et dolore magna aliqua. Quis ipsum suspendisces gravida. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus.
        Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan."
        ></app-passus>

        <app-passus
          Heading="Our Vision"
          content="Consectetur adipiscing elit, sued do eiusmod tempor ididunt udfgt labore et dolore magna aliqua. Quis ipsum suspendisces gravida. Risus commodo viverra sebfd dho  eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus.
        Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan."
        ></app-passus>
      </div>
    </div>
  </div>
</div>
<app-cta></app-cta>
<div class="pt-100">
  <app-shop-method></app-shop-method>
</div>
