.contact-section {
  padding: 130px 0 100px;
}
@media (max-width: 991px) {
  .contact-section {
    padding: 70px 0 40px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .contact-section {
    padding: 80px 0 50px;
  }
}
.contact-section .btn_2 {
  background-color: #191d34;
  padding: 18px 60px;
  border-radius: 50px;
  margin-top: 0;
}
.contact-section .btn_2:hover {
  background-color: #222;
}
