<app-banner bannerText="Contact us"></app-banner>
<section class="contact-section">
  <div class="container">
    <div *ngIf="visible" class="alert alert-success text-center">
      Message sent
    </div>
    <div class="row">
      <div class="col-12">
        <h2 class="contact-title">Get in Touch</h2>
      </div>
      <div class="col-lg-8">
        <app-form [form]="form">
          <div class="row">
            <div class="col-12">
              <app-textarea controlName="message" [form]="form">
                <div
                  class="mt-10"
                  *ngIf="form.get('message')?.hasError('required')"
                >
                  <div class="alert alert-danger">Message is required</div>
                </div>
              </app-textarea>
            </div>
            <div class="col-sm-6">
              <app-input
                placeholder="Enter your name"
                controlName="name"
                [form]="form"
              >
                <div
                  class="mt-10"
                  *ngIf="form.get('name')?.hasError('required')"
                >
                  <div class="alert alert-danger">Name is required</div>
                </div>
                <div
                  class="mt-10"
                  *ngIf="form.get('name')?.hasError('minlength')"
                >
                  <div class="alert alert-danger">
                    Name must be at least 3 characters long
                  </div>
                </div>
              </app-input>
            </div>
            <div class="col-sm-6">
              <app-input placeholder="Email" controlName="email" [form]="form">
                <div
                  class="mt-10"
                  *ngIf="form.get('email')?.hasError('required')"
                >
                  <div class="alert alert-danger">Email is required</div>
                </div>
                <div class="mt-10" *ngIf="form.get('email')?.hasError('email')">
                  <div class="alert alert-danger">Wrong format</div>
                </div>
              </app-input>
            </div>
            <div class="col-sm-12">
              <app-input
                placeholder="subject"
                controlName="subject"
                [form]="form"
              >
                <div
                  class="mt-10"
                  *ngIf="form.get('subject')?.hasError('required')"
                >
                  <div class="alert alert-danger">Subject is required</div>
                </div>
              </app-input>
            </div>
            <div class="col-12">
              <app-submit-button
                (click)="onSubmit()"
                [form]="form"
                [processing]="processing"
                [isDisabled]="form.invalid"
              ></app-submit-button>
            </div>
          </div>
        </app-form>
      </div>
      <div class="col-lg-3 offset-lg-1">
        <app-contact-info-block
          heading="Buttonwood, California."
          subHeading="Rosemead, CA 91770"
        ></app-contact-info-block>
        <app-contact-info-block
          heading="+1 253 565 2365"
          subHeading="Mon to Fri 9am to 6pm"
        ></app-contact-info-block>
        <app-contact-info-block
          heading="support@colorlib.com"
          subHeading="Send us your query anytime!"
        ></app-contact-info-block>
      </div>
    </div>
  </div>
</section>
