<app-banner [bannerText]="'Watch shop'"></app-banner>
<app-notification-component
  [message]="notificationMessage"
></app-notification-component>
<section class="popular-items latest-padding">
  <div class="container">
    <app-filter-navigation></app-filter-navigation>

    <!-- Nav Card -->
    <div class="tab-content" id="nav-tabContent">
      <!-- card one -->
      <div
        class="tab-pane fade show active"
        id="nav-home"
        role="tabpanel"
        aria-labelledby="nav-home-tab"
      >
        <div class="row">
          @if(isLoaded){ @if(filteredProducts.length>0){ @for (product of
          filteredProducts; track $index) {
          <app-watch
            class="col-xl-4 col-lg-4 col-md-6 col-sm-6"
            [Product]="product"
            (atcMessage)="showNotification('Product added to cart!')"
          ></app-watch>
          } }@else {
          <div class="alert alert-danger col-12 text-center">
            Sorry, we do not have products with these filters
          </div>
          } }@else {
          <div class="col-12 text-center alert alert-secondary">Loading...</div>
          }
        </div>
      </div>
      <!-- Card two -->
    </div>
    <!-- End Nav Card -->
  </div>
</section>
