.shop-method-area .method-wrapper .single-method {
  padding: 43px 20px 0 45px;
}
.shop-method-area .method-wrapper .single-method i {
  font-size: 40px;
  color: #ffff;
  margin-bottom: 25px;
  display: block;
}
.shop-method-area .method-wrapper .single-method h6 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 12px;
  font-family: "Roboto", sans-serif;
}
.shop-method-area .method-wrapper .single-method p {
  font-size: 16px;
  color: #d3d1d1;
}
