<app-notification-component
  [message]="notificationMessage"
></app-notification-component>
@if(product){
<div class="container my-5">
  <div class="row">
    <!-- Product Image -->
    <div class="col-md-6">
      <img
        src="https://localhost:7174/products/{{ image }}"
        alt="{{ product.name }}"
        class="img-fluid productImg"
      />
    </div>

    <!-- Product Details -->
    <div class="col-md-6">
      <h1 class="product-name">{{ product.name }}</h1>
      <p class="product-brand"><strong>Brand:</strong> {{ product.brand }}</p>
      <p class="product-category">
        <strong>Category:</strong> {{ product.category }}
      </p>
      <p class="product-price">
        <strong>Actual price:</strong> ${{ product.price }}
      </p>
      <h4>Characteristics</h4>
      <ul class="product-characteristics">
        @for (charac of product.productSpecifications; track $index) {
        <li>{{ charac.specification }} : {{ charac.value }}</li>
        }
      </ul>
      <h4>Description</h4>
      <p class="product-description">
        {{ product.description }}
      </p>
      @if (isLoggedIn) {
      <a
        class="btn text-white d-flex flex-grow justify-content-center"
        data-id="{{ product.id }}"
        (click)="addToCart($event)"
        >Add to cart</a
      >
      } @else {
      <div class="alert alert-secondary">Log in to add to cart</div>
      }
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      @if(isLoggedIn){
      <app-recension-form (recensionAdded)="loadProduct()"></app-recension-form>
      } @if(product.recensions.length>0){
      <h1 class="mb-4">Product Reviews</h1>

      @for (recension of product.recensions; track $index) {
      <app-recensions
        (recensionDeleted)="loadProduct()"
        [recension]="recension"
        [creator]="username"
      ></app-recensions>
      } }@else {
      <div class="alert alert-secondary">
        There is no recensions for this product
      </div>
      }
    </div>
  </div>
</div>
}
<div *ngIf="!product">Loading product details...</div>
