<app-notification-component
  [message]="notificationMessage"
></app-notification-component>
<div class="popular-items section-padding30">
  <div class="container">
    <!-- Section tittle -->
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-10">
        <div class="section-tittle mb-70 text-center">
          <h2>Popular Items</h2>
          <p>Explore our most popular products and elevate your style game.</p>
        </div>
      </div>
    </div>
    <div class="row">
      @for (product of products; track $index) {
      <app-watch
        [ngClass]="'col-xl-4 col-lg-4 col-md-6 col-sm-6'"
        [Product]="product"
        (atcMessage)="showNotification('Product added to cart!')"
      ></app-watch>
      }
    </div>
    <!-- Button -->
    <div class="row justify-content-center">
      <!-- <div class="room-btn pt-70">
                <a href="catagori.html" class="btn view-btn1">View More Products</a>
            </div> -->
      <app-button
        className="pt-70"
        [buttonText]="'View More Products'"
      ></app-button>
    </div>
  </div>
</div>
