<div class="order_box">
  <h2>Your Order</h2>
  <ul class="list">
    <li>
      <p>
        Product
        <span>Total</span>
      </p>
    </li>
    @for (product of cart.products; track $index) {
    <li>
      <p>
        {{ product.name }}
        <span class="middle">x {{ product.quantity }}</span>
        <span class="last">${{ product.price * product.quantity }}</span>
      </p>
    </li>
    }
  </ul>
  <ul class="list list_2">
    <li>
      <p>
        Subtotal
        <span>${{ totalPrice }}</span>
      </p>
    </li>
    <li>
      <p>
        Shipping
        <span>Flat rate: $200.00</span>
      </p>
    </li>
    <li>
      <p>
        Total
        <span>${{ totalPrice + 200 }}</span>
      </p>
    </li>
  </ul>
</div>
