<app-brand-filter></app-brand-filter>
<app-category-filter></app-category-filter>
<div class="row product-btn justify-content-between mb-40">
  <div class="properties__button">
    <!--Nav Button  -->
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <app-filter-button
          filterOption="A-Z asc"
          activeClass="{{ selectedSortOption === 'A-Z Asc' ? 'active' : '' }}"
        ></app-filter-button>
        <app-filter-button
          filterOption="Price high to low"
          activeClass="{{
            selectedSortOption === 'price high to low' ? 'active' : ''
          }}"
        ></app-filter-button>
        <app-filter-button
          filterOption="Price low to high"
          activeClass="{{
            selectedSortOption === 'Price low to high' ? 'active' : ''
          }}"
        ></app-filter-button>
      </div>
    </nav>
    <!--End Nav Button  -->
  </div>
  <!-- Grid and List view -->
  <div class="grid-list-view"></div>
  <!-- Select items -->
  <!-- <app-select [perPage]="perPage"></app-select> -->
  <app-search></app-search>
</div>
