<div>
  <div class="single-popular-items mb-50 text-center">
    <div class="popular-img">
      <img src="{{ Product.Image.src }}" [alt]="Product.Image.alt" />
      <div class="img-cap">
        <span data-id="{{ Product.id }}" (click)="addToCart($event)"
          >Add to cart</span
        >
      </div>
      <!-- <div class="favorit-items">
        <span class="flaticon-heart"></span>
      </div> -->
    </div>
    <div class="popular-caption">
      <h3>
        <a>{{ Product.Name }}</a>
      </h3>
      <div class="row justify-content-center">
        @if(Product.Price.oldPrice) {
        <span class="mr-2"
          ><del>$ {{ Product.Price.oldPrice }}</del></span
        >
        }
        <span>$ {{ Product.Price.newPrice }}</span>
      </div>
      <span (click)="navigateToProduct(Product.id)" class="seeDetailsBtn"
        >See details</span
      >
    </div>
  </div>
</div>
