<div>
  <div class="single-popular-items mb-50 text-center">
    <div class="popular-img">
      <!-- <img
        src="https://localhost:7174/products/{{ image }}"
        [alt]="Product.name"
      /> -->
      @for (image of Product.images; track $index) {
      <img
        src="https://localhost:7174/products/{{ image.path }}"
        [alt]="Product.name"
      />
      }
      <div class="img-cap">
        @if(isLoggedIn){
        <span data-id="{{ Product.id }}" (click)="addToCart($event)"
          >Add to cart</span
        >
        } @else {
        <span>Log in to add to cart</span>
        }
      </div>
      <!-- <div class="favorit-items">
        <span class="flaticon-heart"></span>
      </div> -->
    </div>
    <div class="popular-caption">
      <h3>
        <a>{{ Product.name }}</a>
      </h3>
      <div class="row justify-content-center">
        <span>$ {{ Product.price }}</span>
      </div>
      <span (click)="navigateToProduct(Product.id)" class="seeDetailsBtn"
        >See details</span
      >
    </div>
  </div>
</div>
