<app-banner bannerText="Checkout"></app-banner>
<section class="checkout_area section_padding">
  <div class="container">
    <div class="billing_details">
      <div class="row">
        <div class="col-lg-12">
          <div class="d-flex justify-content-between align-items-center mb-20">
            <h3 class="mx-0 my-0">Billing Details</h3>
            <button class="btn" (click)="displayLocationForm()">
              Add new location
            </button>
          </div>
          @if(displayForm){
          <app-add-location></app-add-location>
          }
        </div>
        <div class="col-lg-12">
          <app-your-order-list></app-your-order-list>
          <div class="d-flex justify-content-end">
            <button class="btn" (click)="order()">order</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
