<div class="watch-area section-padding30">
  <div class="container">
    <app-single-watch-of-choice
      text="Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse."
      image="assets/img/gallery/choce_watch1.png"
      heading="Watch of Choice"
      [reverse]="true"
    ></app-single-watch-of-choice>
    <app-single-watch-of-choice
      text="Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse."
      image="assets/img/gallery/choce_watch2.png"
      heading="Watch of Choice"
    ></app-single-watch-of-choice>
  </div>
</div>
