<div class="watch-area section-padding30">
  <div class="container">
    <app-single-watch-of-choice
      text="EExperience the artistry of craftsmanship and find the perfect watch to express your individuality."
      image="assets/img/gallery/choce_watch1.png"
      heading="Watch of Choice"
      [reverse]="true"
    ></app-single-watch-of-choice>
    <app-single-watch-of-choice
      text="Indulge in timeless elegance and sophistication with our handpicked selection of luxury timepieces."
      image="assets/img/gallery/choce_watch2.png"
      heading="Watch of Choice"
    ></app-single-watch-of-choice>
  </div>
</div>
