<section class="new-product-area section-padding30">
  <div class="container">
    <!-- Section tittle -->
    <div class="row">
      <div class="col-xl-12">
        <div class="section-tittle mb-70">
          <h2>New Arrivals</h2>
        </div>
      </div>
    </div>
    <div class="row">
      @for (item of products; track $index) {
      <app-singlearrivals
        [ngClass]="'col-xl-4 col-lg-4 col-md-6 col-sm-6'"
        [product]="item"
      ></app-singlearrivals>
      }
    </div>
  </div>
</section>
