@if (reverse) {
<div class="row align-items-center justify-content-between padding-130">
  <div class="col-lg-5 col-md-6">
    <div class="watch-details mb-40">
      <h2>{{ heading }}</h2>
      <p>
        {{ text }}
      </p>
      <app-button className="pt-70" buttonText="Show watches"></app-button>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-10">
    <div class="choice-watch-img mb-40">
      <img [src]="image" alt="{{ heading }}" />
    </div>
  </div>
</div>
} @else {
<div class="row align-items-center justify-content-between padding-130">
  <div class="col-lg-6 col-md-6 col-sm-10">
    <div class="choice-watch-img mb-40">
      <img [src]="image" alt="{{ heading }}" />
    </div>
  </div>
  <div class="col-lg-5 col-md-6">
    <div class="watch-details mb-40">
      <h2>{{ heading }}</h2>
      <p>
        {{ text }}
      </p>
      <app-button className="pt-70" buttonText="Show watches"></app-button>
    </div>
  </div>
</div>
}
